doctype html
- var link = "https://tds.megabonus.com/zld?c=Magic5&d=june&w=42135"
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title MegaBonus Lifestyle
    link(href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet")
  body
    include includes/modal.pug
    include includes/loader.pug
    include includes/header.pug
    include includes/items.pug
    include includes/bottom.pug
    include includes/partners.pug
    include includes/footer.pug
    include includes/scripts.pug
