include ../includes/button.pug

.bottom
    .text
        img(src="images/bottom-text.png", alt="", srcset="")
        .w-100
        a(href=link target="_blank")
            +button('ПРИСОЕДИНИТЬСЯ')
    #clock
        img(src="images/RESULT.png", alt="", srcset="")
        include ../includes/flipclock.pug
    