include ../includes/button.pug
include ../includes/button-under.pug

header.container
  .header-top-img
    img(src="images/logo.png", alt="", srcset="")
  .header-before
    img(src="images/header-before.png", alt="", srcset="")
  .header-center
    img(src="images/header-center.png", alt="", srcset="")
  .header-after
    img(src="images/header-after.png", alt="", srcset="")
    .w-100
    a(href=link target="_blank")
      +button('УЧАСТВОВАТЬ',0.5)
    +button-under('Правила и условия','button-modal')
  .header-image
    img(src="images/left.png", alt="")
  .header-image2
    img(src="images/right.png", alt="")
