- var items = ['item3', 'item1', 'item2', 'item4', 'item5']; 

#items.items
    each item in items
        .item
            img(src="images/"+item+".png", alt="", srcset="" data-depth="1.00")
            .item-inner
                img(src="images/"+item+"-inner.png", alt="", srcset="")