include ../includes/button.pug

.modal-wrap
    .modal-window
        div Хочешь получить 100% кэшбэк от МЕГАБОНУС!?
        div Тогда вот что тебе нужно сделать:
        div -Зарегистрироваться по ссылке - наша ссылка
        div -Сделать покупку любого товара в любом магазине через МЕГАБОНУС до 100 $
        div -Отправить скрин покупки для участия на любой удобный ресурс:
        div VK - 
            a(href="https://vk.com/id492551846") https://vk.com/id492551846
            span (скрин в личное сообщение).
        div @Mail - megabonus@zlodei.team
        div Instagram - 
            a(href="@zlodei_event") @zlodei_event
            span (скрин в директ).
        div Так же оставь свое (Имя.Фамилию. Номер телефона).
        div Количество победителей: 100 человек!
        div 30.06.2018 ты узнаешь победителей!
        div#btn-result
            +button('Перейти к результатам',0.6)
        .modal-window__close
            img(src="images/close.png", alt="", srcset="")